@using ProductSellingWorkflow.Data.Views
@model IEnumerable<ProductBaseView>

@{
    ViewBag.Title = "Catalog";
}
<h2>Catalog</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Color</th>
            <th>Price</th>
            <th>Tags</th>
            <th>Created At</th>
            <th>Modified At</th>
            <th>In Watchlist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Size</td>
                <td>@item.Color</td>
                <td>@item.Price</td>
                <td>@string.Join(", ", item.Tags)</td>
                <td>@item.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                <td>@item.ModifiedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                <td>--</td>
            </tr>
        }
    </tbody>
</table>