@using ProductSellingWorkflow.Service.Models
@model IEnumerable<ProductDTO>

@{
    ViewBag.Title = "Product";
}
<p>@Html.ActionLink("Create", "Create", "Product", null, new { @class = "btn btn-success btn-sm" })</p>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Color</th>
            <th>State</th>
            <th>Created At</th>
            <th>Modified At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Size</td>
                <td>@item.Color</td>
                <td>@item.State</td>
                <td>@item.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                <td>@item.ModifiedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                <td>@Html.ActionLink("Edit", "Edit", "Product", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })</td>
            </tr>
        }
    </tbody>
</table>