<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <p class="clearfix text-right">
                <span>Hello @User.Identity.Name</span>&nbsp;
                @Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "btn btn-warning btn-sm" })
            </p>
        }

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
