@using ProductSellingWorkflow.Models
@model UserCreateViewModel

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Signup</h2>

<br />
@using (Html.BeginForm("Signup", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(false, String.Empty, new { @class = "text-danger" })

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="text-danger">*</span>&nbsp;<span>@Html.DisplayNameFor(x => x.Name)</span></label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", autocomplete = "off" })
            <p><em><small>@Html.ValidationMessageFor(x => x.Name, String.Empty, new { @class = "text-danger" })</small></em></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="text-danger">*</span>&nbsp;<span>@Html.DisplayNameFor(x => x.Email)</span></label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })
            <p><em><small>@Html.ValidationMessageFor(x => x.Email, String.Empty, new { @class = "text-danger" })</small></em></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="text-danger">*</span>&nbsp;<span>@Html.DisplayNameFor(x => x.Password)</span></label>
        <div class="col-sm-10">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", autocomplete = "off" })
            <p><em><small>@Html.ValidationMessageFor(x => x.Password, String.Empty, new { @class = "text-danger" })</small></em></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><span class="text-danger">*</span>&nbsp;<span>@Html.DisplayNameFor(x => x.AllRoles)</span></label>
        <div class="col-sm-10">
            @for (int i = 0; i < Model.AllRoles.Count; i++)
            {
                <label class="control-label">@Html.CheckBoxFor(x => Model.AllRoles[i].Selected) <span>@Model.AllRoles[i].Name</span></label><br />
                @Html.HiddenFor(x => Model.AllRoles[i].Name)
            }
            <p><em><small>@Html.ValidationMessageFor(x => x.AllRoles, String.Empty, new { @class = "text-danger" })</small></em></p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </div>
}
